<div
  class="w-item"
  [ngClass]="{ 'mx-3 mx-sm-2 my-4': !isOpen, 'position-absolute t-0 l-0 r-0 z-1000': isOpen }"
>
  <div
    class="bg position-relative h-cover"
    [ngClass]="{ 'rounded-my-top': !isOpen }"
    [style.backgroundImage]="'url(' + cover + ')'"
    (click)="isOpen = !isOpen; toggleList(isOpen);"
  >
    <div
      [ngClass]="{ 'rounded-my-top': !isOpen }"
      class="position-absolute t-0 r-0 w-100 pt-2 pl-3 d-flex align-items-center"
      style="padding-bottom: 5rem; background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0))"
    >
      <div class="mt-1">
        <img
          class="tech pr-2"
          height="20"
          *ngFor="let item of tech"
          [src]="'/assets/image/icon/' + item + '.png'"
          [attr.data-content]="changeTitle(item)"
          data-variation="inverted"
        />
      </div>
    </div>
  </div>

  <div
    [ngClass]="{ 'rounded-my-bottom': !isOpen }"
    class="p-3"
    style="background-color: #454f51;"
  >
    <h3 class="text-white font-weight-bold m-0 p-0">{{ title }}</h3>
    <small class="m-0 text-white-50">{{ time | date: 'yyyy-MM-dd' }}</small>
    <p class="text-white-50">{{ description }}</p>
    <hr class="border-light" *ngIf="isOpen" />

    <button
      class="fluid ui button inverted red"
      *ngIf="isOpen"
      (click)="isOpen = !isOpen; toggleList(isOpen);"
    >
      關閉
    </button>
    <div *ngIf="isOpen" style="height: 6rem;"></div>
  </div>
</div>
