<div class="text-white-50 py-5" style="background-color: #24272a">

  <div class="d-flex align-items-center justify-content-center">
    <img src="/assets/image/github.png" width="600" alt="">

    <div class="px-3">
      <div class="d-flex align-items-start justify-content-center">
        <div class="pr-5 pl-3">
          <h3 class="font-weight-bold mb-3">主題</h3>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            罐罐 XD
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            技能樹 & 時間軸
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            作品回顧
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            社團經歷
          </a>
        </div>

        <div class="px-5">
          <h3 class="font-weight-bold mb-3">相關作品</h3>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            Diet Calendar
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            從前從前
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            MyProGuide
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            MyProGuide Tour
          </a>
        </div>

        <div class="pl-5 pr-3">
          <h3 class="font-weight-bold mb-3">相關資訊</h3>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            <i class="inverted text-white-50 facebook f icon"></i><span>罐罐 XD</span>
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            <i class="inverted text-white-50 github alternate icon"></i><span>JasonXDDD</span>
          </a>
          <a class="d-block my-2 text-decoration-none text-white-50" href>
            <i class="inverted text-white-50 envelope outline icon"></i><span>jason1022liu@gmail.com</span>
          </a>
        </div>
      </div>
      <div class="mt-5">
        <p class="m-0 pl-3">歡迎與我聯繫！</p>
        <hr class="m-1" style="border-color: #ffffff55; border-width: .1rem;">
        <p class="m-0 pr-3 text-right">Power by JasonXDDD © {{ today | date: 'yyyy.MM'}} JasonXDDD. All rights reserved.</p>
      </div>
    </div>
  </div>

</div>
