@import '../../assets/sass/_rwd.sass'

.banner-title
  width: 100%


.title
  font-weight: bold
  margin: 1rem 0 1rem 3rem
  font-size: 3rem
  position: relative
  &::after
    content: ''
    display: block
    height: .4rem
    background-color: white
    width: 8rem
    position: absolute
    left: 3rem
    top: 4rem
  @include phone-width
    text-align: center
    margin: 1rem 0
    &::after
      display: none

.legend
  background-color: #00000055

  .dot
    border-radius: 50%
    background-color: #555555
    width: 1rem
    height: 1rem

  .orange
    background-color: rgb(234, 157, 17)
  .blue
    background-color: rgb(157, 206, 234)
  .red
    background-color: rgb(238, 113, 137)
  .pink
    background-color: rgb(234, 157, 232)

  .green
    background-color: #81eb74
  .pink-red
    background-color: #F93B69
  .dark-blue
    background-color: #4560ff
  .yellow
    background-color: #ebe86e

.slogan
  @include phone-width
    width: 6rem
